<video width="800" height="600" src="{{base_url}}/video" controls>
    <!--<source src="/public/videos/film/American%20Pastoral%20(2016)%20[YTS.AG]/American.Pastoral.2016.720p.BluRay.x264-[YTS.AG].mp4" type="video/mp4">-->
    Your browser does not support the video tag.
</video>

<form action="/download" method="post">
    <button type="sumbit">Dowload</button>
</form>