<video width="800" height="600" src="{{base_url}}/video" data-setup='{"autoplay": false}' controls="">
    Your browser does not support the video tag.
</video>

<form action="/download" method="post">
    <button type="sumbit">Dowload</button>
</form>