script(src='//vjs.zencdn.net/5-unsafe/video.js')
link(href='//vjs.zencdn.net/5.4.6/video-js.min.css', rel='stylesheet')

//video(width='800', height='600', controls='controls', preload='auto', class="playr_video",
//src="http://localhost:8000/Guardians.of.the.Galaxy.2014.1080p.BluRay.x264.YIFY.mp4")

video.video-js.vjs-default-skin.vjs-big-play-centered(controls='', preload='auto', width="800px", height="600px", data-setup='{"autoplay": false}')
    source(src='http://localhost:8000/Guardians.of.the.Galaxy.2014.1080p.BluRay.x264.YIFY.mp4', type='video/mp4')
    track(src="/public/", label="English", kind="subtitles", srclang="en")
    p.vjs-no-js
        | To view this video please enable JavaScript, and consider upgrading to a web browser that
        a(href='http://videojs.com/html5-video-support/', target='_blank') supports HTML5 video